<div class="container">
    <div class="page-header" ng-if="!gameLaunched">
        <h1 class="align-end">Jeu de Chiffre</h1>
    </div>
    <hr>
    <div class="component">
        <div id="display" class="display">
            <span id="minutes">{{time}}</span>
        </div>
        <div class="buttons">
            <button id="startStop" ng-click="startGame()" ng-if="!gameLaunched">Start game</button>
            <button id="reset" ng-click="stopGame()" ng-if="gameLaunched">Reset game</button>
        </div>
    </div>
    <div style="display:flex">
        <div class="component" ng-if="gameLaunched">
            <h2>Nombre a chercher</h2>
            <div class="cell-boxes">
                <div class="digit-box">{{singleDigit}}</div>
            </div>
        </div>
        <div class="component" ng-if="gameLaunched">
            <h2>Vos nombres</h2>
            <div class="cell-boxes">
                <div class="digit-box" ng-repeat="cell in cells">{{cell}}</div>
            </div>
        </div>
    </div>
    <div style="display:flex" ng-if="gameLaunched">
        <div class="component">
            <h2>Joueur 1</h2>
            <input type="number" ng-model="guess1" ng-if="!$ctrl.starts[1]" min="0">
            <button ng-click="addPlayerData(1,guess1);$ctrl.clickBtn1=true" ng-if="!$ctrl.clickBtn1">Valider</button>
            <input type="text" placeholder="COMBINAISON" ng-if="$ctrl.starts[1]">
            <button ng-if="$ctrl.starts[1]">Valider</button>
        </div>
        <div class="component">
            <h2>Joueur 2</h2>
            <input type="number" ng-model="guess2" ng-if="!$ctrl.starts[2]" min="0">
            <button ng-click="addPlayerData(2,guess2);$ctrl.clickBtn2=true" ng-if="!$ctrl.clickBtn2">Valider</button>
            <input type="text" placeholder="COMBINAISON" ng-if="$ctrl.starts[2]">
            <button ng-if="$ctrl.starts[2]">Valider</button>
        </div>
    </div>
</div>
<script src="script.js"></script>